{% from 'field-macro.html' import displayField %}

{% extends "layout.html" %}

{% block title %}Phonebook{% endblock %}

{% block content %}
<h1>Phonebook</h1>

<form action="{{ url_for('index') }}" , method="POST">
    {{ displayField(form.name, 'Name', autocomplete='off',autofocus=true) }}
    {{ displayField(form.email, 'Email', autocomplete='off',autofocus=true) }}
    {{ displayField(form.phone, 'Phone', autocomplete='off',autofocus=true) }}
    {{ displayField(form.adress, 'Adress', autocomplete='off',autofocus=true) }}
    <div>
        {{ form.submit_button }}
    </div>

    {{ form.csrf_token }}
</form>

{% endblock %}