body{
    background-color:#f8f9fa;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.header-left{
    color: #515252;
    font-size: 16px;
    font-weight: bolder;
    margin-left: 10%;
}

.header-right{
    margin-right: 10%;
}

.button1{
    background-color: #007aff;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.button:hover{
    background-color: #007aff; 
    opacity: 90%;
}

.picture{
    opacity: 90%;
    margin-right: 10%;
    padding-top: 10px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 50px;
    display: inline-flex;
}

.container{
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: bolder;
  padding: 10px;
  font-family: 'Raleway', sans-serif;;
}

  input[type=text] {
  width: 35%;
  padding: 8px;
  margin: 30px 0 22px 0;
  border: none;
  background: #f1f1f1;
  border-radius: 4px;
}

.mail{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: bolder;
}

.button2{
  position: absolute;
  top: 50%;
  left: 73%;
  transform: translate(-50%, -50%);
  background-color: #007aff;
  border-radius: 8px;
  border: none;
  color: white;
  padding: 13px 23px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px;
}

* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  margin-top: 50px;
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
  text-align: center;
  color:  #515252;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

p{
    color: lightslategray;
    margin-top: 0px;
}