<!DOCTYPE html>
<html>

<head>
    <title>My CV</title>

    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body id="top">
    <div id="cv" class="instaFade">
        <div class="mainDetails">
            <div id="headshot" class="quickFade">
                <img src="static/profile.jpg" alt="Maria Plutman" />
            </div>

            <div id="name">
                <h1 class="quickFade delayTwo">Maria Plutman</h1>
                <h2 class="quickFade delayThree">Full Stack Web Developer</h2>
            </div>

            <div id="contactDetails" class="quickFade delayFour">
                <ul>
                    <li>e: <a href="mailto:mariaplutman@gmail.com" target="_blank">mariaplutman@gmail.com</a></li>
                    <li>w: <a href="https://github.com/MariaPlutman">https://github.com/MariaPlutman</a></li>
                    <li>m: +972(53)623-61-01</li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>

        <div id="mainArea" class="quickFade delayFive">
            <section>
                <article>
                    <div class="sectionTitle">
                        <h1>Personal Profile</h1>
                    </div>

                    <div class="sectionContent">
                        <p>Full Stack Web Developer with a passion for building practical applications that people will
                            enjoy using. With
                            experience in Python, JavaScript, and a background in engineering, - I bring strong skills
                            in team cooperation and
                            consultation that helps technology companies design their products. Extensive experience in
                            hardware and software
                            engineering technology.</p>
                    </div>
                </article>
                <div class="clear"></div>
            </section>


            <section>
                <div class="sectionTitle">
                    <h1>Work Experience</h1>
                </div>

                <div class="sectionContent">
                    <article>
                        <h2>Taldor</h2>
                        <h4>Project Coordinator, Technical Support</h4>
                        <p class="subDetails">Petah Tikva, Israel <br> 12/2017 - Present</p>
                        <p>
                            <li>Management of a computing projects for the Ministry of Education</li>
                            <li>Coordination, monitoring and management of a technician system</li>
                            <li>Technical support for school programming competitions from the Ministry of Education
                                (Skillz)</li>
                            <li>Technical support for computerized exams for the Ministry of Health</li>
                        </p>
                    </article>

                    <article>
                        <h2>InterneTeams​</h2>
                        <h4>Intern</h4>
                        <p class="subDetails">Herzliya, Israel <br> 02/2016 - 07/2016</p>
                        <p>
                            The company specializes in designing and developing websites for small and medium
                            businesses. <br>
                            As part of my job, I was designing, characterizing and designing websites (UX / UI)
                        </p>
                    </article>
                </div>
                <div class="clear"></div>
            </section>


            <section>
                <div class="sectionTitle">
                    <h1>Technical Skills</h1>
                </div>

                <div class="sectionContent">
                    <ul class="keySkills">
                        <li>Python</li>
                        <li>OOP</li>
                        <li>Flask</li>
                        <li>JavaScript</li>
                        <li>HTML/CSS</li>
                        <li>SQL</li>
                        <li>Lightroom</li>
                        <li>Adobe Photoshop</li>
                    </ul>
                </div>
                <div class="clear"></div>
            </section>


            <section>
                <div class="sectionTitle">
                    <h1>Education</h1>
                </div>

                <div class="sectionContent">
                    <article>
                        <h2>International Humanitarian University</h2>
                        <h4>B.Sc. In Computer Science</h4>
                        <p class="subDetails">Odessa, Ukraine <br> 2010-2016</p>
                        <p> <b>Final project</b> <br> Architectural design of a computer communications network for a
                            shopping
                            center, using OSI layers and
                            building models for the different protocols (UDP / TCP). The project incorporated a system
                            design that includes material
                            components and the necessary communication layout and network optimization, taking into
                            account future requirements that
                            may be for the customer.</p>
                    </article>

                    <article>
                        <h2>Developers Institute</h2>
                        <h4>TLV Coding Bootcampe</h4>
                        <p class="subDetails">Tel-Aviv <br>04/2020 - 09/2020</p>
                        <p>Full Stack Web Development, Python and JavaScript program</p>
                    </article>
                </div>
                <div class="clear"></div>
            </section>

            <section>
                <div class="sectionTitle">
                    <h1>Languages</h1>
                </div>

                <div class="sectionContent">
                    <ul class="keySkills">
                        <li>Russian - native speaker</li>
                        <li>Ukrainian - native speaker</li>
                        <li>English - fluent</li>
                        <li>Hebrew - fluent</li>
                    </ul>
                </div>
                <div class="clear"></div>
            </section>

        </div>
    </div>
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        var pageTracker = _gat._getTracker("UA-3753241-1");
        pageTracker._initData();
        pageTracker._trackPageview();
    </script>
</body>

</html>