<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-light" style="background-color: rgb(124, 19, 124)">
        <a class="navbar-brand mb-0 h1" href="#" style="color: white;">Pets For You</a>
    </nav>

    <div class="jumbotron jumbotron-fluid" style="background-color: white;">
        <div class="container">
            <h1 class="display-4">Maltese Poodle</h1>
            <div class="card-deck">
                <div class="card" style="width: 18rem;">
                    <img src="/Users/user/Desktop/DevelopersInstitute/Week_12/Day2/PetStore/app/static/img/poodle2.jpeg"
                        class="card-img-top" alt="pets" style="width: 70%; align-self: center;margin-top: 20px;">
                    <div class="card-body">
                        <p class="card-text">Not actually a dog breed per se, the Maltipoo is a popular cross of the
                            Maltese and Poodle, known for his fun-loving and
                            affectionate nature. Active and charming, he can fit into all kinds of homes and families:
                            apartment or house, family
                            with kids or elderly single.</p>
                        <a href="#" class="btn btn-secondary"
                            style="background-color: rgb(124, 19, 124);width:100%;">Add
                            to
                            Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>